<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Luna POS</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>キャストの写真を撮影するためにカメラを使用します</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>キャストの写真を設定するためにフォトライブラリにアクセスします</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>レシートプリンターとBluetooth接続するために使用します</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>ネットワーク上のレシートプリンターを検出するために使用します</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ipp._tcp</string>
		<string>_pdl-datastream._tcp</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
